{% extends "base.html.twig" %} 
{% block body %}
         <div class="jumbotron text-center">

            <h1>Agence Lorem Home 3 </h1> 
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque dolorum quae molestiae soluta, ea deserunt repellendus minima laborum quos animi voluptates esse laudantium magni voluptas, ipsam totam repudiandae illum quasi.</p>
        </div>
 {% endblock  %}