{% extends "base.html.twig" %}
{% block title 'edit les biens ' %}
{% block body %}
    <div class="container mt-4">
        <h1>edit les biens</h1>
        <div>{{ property.id }}</div>

        {{ include( 'admin/property/_form.html.twig',{ form:form,button:'Editer'}) }}  
        <!-- 注意是 include { 不是 % -->
    </div>
{% endblock %}
