{% extends "base.html.twig" %} 


{% block title 'Voir tous nos biens' %} 

{% block body %}
         <div class="container mt-4">

            <h1>Voir tous nos biens</h1> 
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque dolorum quae molestiae soluta, ea deserunt repellendus minima laborum quos animi voluptates esse laudantium magni voluptas, ipsam totam repudiandae illum quasi.</p>
        </div>
 {% endblock  %}